# NOTE: This docker-compose.yml is meant to be just an example of how
# you could accomplish this on your own. It is not intended to work in
# all use-cases and must be adapted to fit your needs. This is merely
# a guideline.

# See docs.getsentry.com/on-premise/server/ for full
# instructions

version: '2'
services:
  base:
    build: .
    environment:
      # Run `docker-compose run web config generate-secret-key`
      # to get the SENTRY_SECRET_KEY value.
      SENTRY_SECRET_KEY: '3i3f_w!tz)qchta4o%of(&5l9#h30=8xuapph-n*62l(f9))97'
      SENTRY_REDIS_HOST: redis
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_EMAIL_HOST: smtp
    volumes:
      - ./data/sentry:/var/lib/sentry/files

  smtp:
    image: tianon/exim4

  redis:
    image: redis:3.0
    ports:
          - '6379:6379'

  postgres:
    image: postgres:9.5
    ports:
          - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  web:
    extends: base
    links:
      - redis
      - postgres
      - smtp
    ports:
      - '9000:9000'

  cron:
    extends: base
    command: run cron
    links:
      - redis
      - postgres
      - smtp

  worker:
    extends: base
    command: run worker
    links:
      - redis
      - postgres
      - smtp
